# Interview preperation

# PYTHON

#1. Anargram Check

In [18]:
def anagram(string1, string2):
    dict1 = {}
    for i in string1:
        if i in dict1:
            dict1[i]+=1
        else:
            dict1[i]=1
    for j in string2:
        if j in dict1:
            dict1[j]-=1
        else:
            dict1[j]=1
    for k in dict1:
        if dict1[k]!=0:
            return False
    return True

In [20]:
anagram("god", "dog")

True

2.
Get index (Competency tested: Scripting (any scripting language) )
Given a list of integers, return indices of the two numbers such that they add up to a specific target. You may assume that each input would have exactly one solution, and you may not use the same element twice.
Example:
Given nums = [2, 7, 11, 15], target = 9,
return [0, 1]

In [37]:
def pair_sum(arr, k):
    dict1={}
    for i in range(0,len(arr)):
        if arr[i] == k:
            return i
        elif len(dict1)==0:
            dict1[arr[i]]=i
        else:
            for j in dict1:
                if arr[i]+j==k:
                    return [dict1[j],i]
            dict1[arr[i]] = i
    return "No Value"

In [38]:
pair_sum([2, 7, 11, 15], 9)

[0, 1]

In [45]:
pair_sum([3,2,2], 4)

[1, 2]

In [91]:
# Alternative
def two_sum(arr,target):
    dict1 = dict()
    for i in range(0,len(arr)):
        if target-arr[i] in dict1:
            return [dict1[target-arr[i]], i]
        elif arr[i] not in dict1:
            dict1[arr[i]] = i

3. Largest continuous Sum in an array

In [57]:
def largest_sum(arr):
    maxm = arr[0]
    current_sum = arr[0]
    for i in range(1, len(arr)):
        current_sum = max(arr[i], current_sum+arr[i])
        maxm = max(current_sum, maxm)
        print(current_sum, maxm)
    return current_sum, maxm

In [58]:
largest_sum([0,1,2,-1,3,-4, 5, 6])

1 1
3 3
2 3
5 5
1 5
6 6
12 12

(12, 12)

given a string reverse all the words

In [63]:
def reverse(string):
    return " ".join(string.split(" ")[::-1])

In [64]:
reverse("Hi I am shorya")

'shorya am I Hi'

String Compression

In [79]:
def compress(string):
    if len(string)==0:
        return False
    elif len(string)==1:
        return string+"1"
    else:
        r=""
        i = 1
        count=1
        while i < len(string):
            if string[i]==string[i-1]:
                count+=1
            else:
                r = r+string[i-1]+str(count)
                count=1
            i+=1
        r = r+string[i-1]+str(count)
        return r

In [80]:
compress("AAAABBBCC")

'A4B3C2'

Balanced Paranthesis

In [85]:
def balanced_check(string):
    if len(string)%2!=0:
        return False
    else:
        is_open = set(['{','(', '['])
        pair = set([('[',']'),('{','}'),('(',')')])
        stack = []
        for i in string:
            if i in is_open:
                stack.append(i)
            else:
                popped = stack.pop()
                if (popped, i) not in pair:
                    return False
        return True

In [90]:
balanced_check("[({()})]")

True

#7. Longest Substring without repeating a character

In [204]:
def longest_substring(string):
    unique = list()
    dict1 = {}
    r = ""
    for i in string:
        if i not in unique:
            unique.append(i)
            r = r+i
        else:
            dict1[r]=len(r)
            unique = []
            unique.append(i)
            r = i
    dict1[r] = len(r)
    maxm = 0
    for j in dict1:
        if dict1[j]>maxm:
            maxm = dict1[j]
            longest = j
    return longest, maxm

In [207]:
longest_substring("abcabcdef")

('abcdef', 6)

Given a nested list, return a flattened list with only the distinct numbers. The output should be a list ordered by the first occurrence of the number.

In [185]:
num_dict = {}
def flatten_dedupe_list(s): 
    output = []
    for x in s:
        if isinstance(x, list):
            s_sub = flatten_dedupe_list(x)
            output.extend(s_sub)
        else:
            if x in num_dict.keys():
                pass
            else:
                num_dict[x] = 1
                output.append(x)
    return output

In [186]:
flatten_dedupe_list([[1,2,3], [2,3,5]])

[1, 2, 3, 5]

In [218]:
#9. longest palindromic substring
def longestPalSubstr(string):
    n = len(string) # calculating size of string
    if (n < 2):
        return n # if string is empty then size will be 0.
    # if n==1 then, answer will be 1(single
    # character will always palindrome)
    start=0
    maxLength = 1
    for i in range(n):
        low = i - 1
        high = i + 1
        while (high < n and string[high] == string[i] ):							
            high=high+1
        while (low >= 0 and string[low] == string[i] ):
            low=low-1
	
        while (low >= 0 and high < n and string[low] == string[high] ):
            low=low-1
            high=high+1
        length = high - low - 1
        if (maxLength < length):
            maxLength = length
            start=low+1
    print ("Longest palindrome substring is:",end=" ")
    print (string[start:start + maxLength])
    return maxLength
	
# Driver program to test above functions
string = ("forgeeksskeegfor")
print("Length is: " + str(longestPalSubstr(string)))

#This is code is contributed by saurabh yadav

Longest palindrome substring is: geeksskeeg
Length is: 10

In [219]:
# 10. Container with most water 
def maxArea(A, Len) :
    area = 0
    for i in range(Len) :
        for j in range(i + 1, Len) :
           
            # Calculating the max area
            area = max(area, min(A[j], A[i]) * (j - i))
    return area

"""
There are N people, numbered from 0 to N-1, playing a game. The K-th person is assigned the letter S[K].
* At the beginning the 0th person sends a message, consisting of a single letter S[0], to the A[O]-th person.
* When the K-th person receives the message, they append their letter S[K] to the message and forward it to A[K].
* The game ends when the oth person receives the message. Find the final message.
* You can assume that A contains every integer from 0 to N-1 exactly once.
* Write a function: def solution(S, A) that given a string S and an array of
* integers A, both of length N, returns a string denoting the final message received by the Oth person.

*
* Examples:
* 1. Given S = "cdeo" and A = [3, 2, 0, 1], your function should returns "code".
"""

In [2]:
def game(S,A):
    finalMessage = S[0]
    destination = A[0]
    while destination !=0:
        finalMessage +=S[destination]
        destination = A[destination]
    return finalMessage

In [3]:
game("cdeo", [3, 2, 0, 1])

'code'

Merge Sort

In [6]:
def merge_sort(inp_arr):
    size = len(inp_arr)
    if size > 1:
        middle = size // 2
        left_arr = inp_arr[:middle]
        right_arr = inp_arr[middle:]
 
        merge_sort(left_arr)
        merge_sort(right_arr)
 
        p = 0
        q = 0
        r = 0
 
        left_size = len(left_arr)
        right_size = len(right_arr)
        while p < left_size and q < right_size:
            if left_arr[p] < right_arr[q]:
                inp_arr[r] = left_arr[p]
                p += 1
            else:
                inp_arr[r] = right_arr[q]
                q += 1
            r += 1
        while p < left_size:
            inp_arr[r] = left_arr[p]
            p += 1
            r += 1
 
        while q < right_size:
            inp_arr[r]=right_arr[q]
            q += 1
            r += 1
    return arr

In [7]:
arr = [1,2,0,5,8,7]
merge_sort(arr)

[0, 1, 2, 5, 7, 8]

Input: arr[] = {1, 2, 4, 6, 3, 7, 8}
Output: 5
Explanation: The missing number from 1 to 8 is 5

In [44]:
def missing(arr):
    summ = 0
    n=len(arr)
    total_sum = (n + 1)*(n + 2)/2
    for i in arr:
        summ = summ+i
    mis = total_sum-summ
    return mis

In [45]:
missing([1,2,4,6,3,7,8])

5.0

In [4]:
# Local Maxima 

def localMaxima(arr, n)->list:
    if len(arr)==0:
        return []
    elif len(arr)==1:
        return [0]
    else:
        Maximum = []
    if arr[0]>arr[1]:
        Maximum.append(0)
    for i in range(1, n-1):
        if arr[i-1]<arr[i]>arr[i+1]:
            Maximum.append(i)
    if arr[-1] > arr[-2]:
        Maximum.append(n-1)
    if len(Maximum)>0:
        return Maximum
    else:
        return False
Arr = [1,2,5,3]
N = len(Arr)
print(localMaxima(Arr, N))

[2]

In [ ]:
# Frequency of a substring in a string
def countFreq(pat, txt):
    M = len(pat)
    N = len(txt)
    res = 0
     
    # A loop to slide pat[] one by one
    for i in range(N - M + 1):
         
        # For current index i, check
        # for pattern match
        j = 0
        while j < M:
            if (txt[i + j] != pat[j]):
                break
            j += 1
 
        if (j == M):
            res += 1
            j = 0
    return res
     
# Driver Code
if __name__ == '__main__':
    txt = "dhimanman"
    pat = "man"
    print(countFreq(pat, txt))

# SPARK

Create a dataframe with movie_id and price and ticket_id.
find the total tickets sold for a movie 
group movies with same price

movie_id price ticket_id
1 500 123
1 500 124
2 650 400
3 500 132

In [71]:
import os
import sys
import glob
os.environ['SPARK_HOME'] = 'C:\spark3'
os.environ['JAVA_HOME'] = 'C:\Program Files\Java\jdk1.8.0_231'
os.environ['HADOOP_HOME'] = 'C:\spark3'
spark_python = os.path.join(os.environ.get('SPARK_HOME',None),'python')
py4j = glob.glob(os.path.join(spark_python,'lib','py4j-*.zip'))[0]
sys.path[:0]=[spark_python,py4j]
os.environ['PYTHONPATH']=py4j
import findspark
findspark.init()
findspark.find()

'C:\\spark3'

In [72]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Movie analysis").getOrCreate()

In [73]:
df = spark.createDataFrame([[1,500,123], [1,500,124], [2,650,400], [3,500,132]], ["movie_id", "price", "ticket_id"])

In [74]:
df.show()

+--------+-----+---------+
|movie_id|price|ticket_id|
+--------+-----+---------+
|       1|  500|      123|
|       1|  500|      124|
|       2|  650|      400|
|       3|  500|      132|
+--------+-----+---------+

In [75]:
from pyspark.sql.functions import *
df_sold = df.groupBy("movie_id").agg(count("movie_id").alias("tickets_sold")).orderBy([col("tickets_sold").desc()])

In [76]:
df_sold.show()

+--------+------------+
|movie_id|tickets_sold|
+--------+------------+
|       1|           2|
|       2|           1|
|       3|           1|
+--------+------------+

In [77]:
df_movies_with_same_price = df.groupBy("price").agg(collect_list("movie_id").alias("movies"))

In [78]:
df_movies_with_same_price.show()

+-----+---------+
|price|   movies|
+-----+---------+
|  650|      [2]|
|  500|[1, 1, 3]|
+-----+---------+

In [81]:
no_of_columns = df_movies_with_same_price.select(size(col("movies"))\
                                             .alias("array_length")).agg({'array_length':'max'}).first()[0]
column_list = []
for i in range(no_of_columns):
    col_name = "movie_id"+str(i)
    df_movies_with_same_price = df_movies_with_same_price.withColumn(col_name, col("movies")[i])
df_movies_with_same_price.show()

+-----+---------+---------+---------+---------+
|price|   movies|movie_id0|movie_id1|movie_id2|
+-----+---------+---------+---------+---------+
|  650|      [2]|        2|     null|     null|
|  500|[1, 1, 3]|        1|        1|        3|
+-----+---------+---------+---------+---------+

Consider and input text file, holding single row with pipe delimited as shown below. How will you "apply line break to every 5th occurence of pipe delimiter" and display as shown below ?

Input text File :

AZAR|BE|8|Bigdata|9273|Ramesh|Btech|3|Java|9274|Pratibhan|ME|6|DotNet|9275

In [1]:
import os
import sys
import glob
os.environ['SPARK_HOME'] = 'C:\spark3'
os.environ['JAVA_HOME'] = 'C:\Program Files\Java\jdk1.8.0_231'
os.environ['HADOOP_HOME'] = 'C:\spark3'
spark_python = os.path.join(os.environ.get('SPARK_HOME',None),'python')
py4j = glob.glob(os.path.join(spark_python,'lib','py4j-*.zip'))[0]
sys.path[:0]=[spark_python,py4j]
os.environ['PYTHONPATH']=py4j
import findspark
findspark.init()
findspark.find()
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Question1").getOrCreate()

In [3]:
df = spark.read.csv("C:/Users/ShoryaSharma/Desktop/Question1.txt")

In [8]:
from pyspark.sql.functions import regexp_replace, split, explode

In [19]:
df1 = df.withColumn("chk", regexp_replace("_c0", "(.*?\\|){5}", "$0-"))

In [20]:
df1 = df1.withColumn("col_explode", explode(split('chk', '\|-'))).select('col_explode')

In [22]:
df1 = df1.select("col_explode").rdd.map(lambda x:x[0].split("|"))

In [24]:
df1 = df1.toDF(["Name", "Edu", "YearOfExp", "Tech", "Mobnum"])

In [25]:
df1.show()

+---------+-----+---------+-------+------+
|     Name|  Edu|YearOfExp|   Tech|Mobnum|
+---------+-----+---------+-------+------+
|     AZAR|   BE|        8|Bigdata|  9273|
|   Ramesh|Btech|        3|   Java|  9274|
|Pratibhan|   ME|        6| DotNet|  9275|
+---------+-----+---------+-------+------+

## handle_corrupted_record

Modes in spark.read() 

mode - PERMISSIVE
When we receive a corrupted record it puts the malformed record into a field.

mode - FAILFAST
When the spark program meets a corrupted record, this mode throws an exception and stops the spark job.

mode - DROPMALFORMED
When we specify the mode as DROPMALFORMED, the spark program will ignore the whole corrupted records.

In [1]:
import os
import sys
import glob
os.environ['SPARK_HOME'] = 'C:\spark3'
os.environ['JAVA_HOME'] = 'C:\Program Files\Java\jdk1.8.0_231'
os.environ['HADOOP_HOME'] = 'C:\spark3'
spark_python = os.path.join(os.environ.get('SPARK_HOME',None),'python')
py4j = glob.glob(os.path.join(spark_python,'lib','py4j-*.zip'))[0]
sys.path[:0]=[spark_python,py4j]
os.environ['PYTHONPATH']=py4j
import findspark
findspark.init()
findspark.find()
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("handle_corrupted_record").getOrCreate()

In [2]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
schema = StructType([
    StructField("EmployeeID", IntegerType(), True),
    StructField("EmployeeName", StringType(), True),
    StructField("Address", StringType(), True),
    StructField("_corrupt_record", StringType(), True)
])

In [12]:
employee_df = spark.read.option("mode", "PERMISSIVE").schema(schema).option("header", True)\
                    .option("columnNameOfCorruptRecord", "_corrupt_record").csv("C:/Users/ShoryaSharma/Desktop/employee.csv").cache()

In [13]:
employee_df.show()

+----------+------------+--------+--------------------+
|EmployeeID|EmployeeName| Address|     _corrupt_record|
+----------+------------+--------+--------------------+
|      1001|       Floyd|   Delhi|                null|
|      1002|      Watson|  Mumbai|1002,Watson,Mumba...|
|      1003|       David|banglore|                null|
|      1004|    Thompson| Chennai|                null|
+----------+------------+--------+--------------------+

In [20]:
from pyspark.sql.functions import col
employee_df.where(col("_corrupt_record").isNull()).drop("_corrupt_record").show()

+----------+------------+--------+
|EmployeeID|EmployeeName| Address|
+----------+------------+--------+
|      1001|       Floyd|   Delhi|
|      1003|       David|banglore|
|      1004|    Thompson| Chennai|
+----------+------------+--------+

In [21]:
employee_df.where(col("_corrupt_record").isNotNull()).drop("_corrupt_record").show()

+----------+------------+-------+
|EmployeeID|EmployeeName|Address|
+----------+------------+-------+
|      1002|      Watson| Mumbai|
+----------+------------+-------+

## Multi Delimiter

In [24]:
spark = SparkSession.builder.appName("multi_delimiter").getOrCreate()
df = spark.read.text("C:/Users/ShoryaSharma/Desktop/multi.txt")
df.show(truncate=0)

+--------------------+
|value               |
+--------------------+
|Name~|Age           |
|Shorya,sharma~|25   |
|Vini, Baishander~|23|
|Aditi, Sharma~|26   |
|Jatin, Shokeen~|24  |
+--------------------+

In [29]:
header = df.first()[0]
print(header)

Name~|Age

In [30]:
schema = header.split('~|')
print(schema)

['Name', 'Age']

In [36]:
df.filter(df['value']!="header").rdd.map(lambda x:x[0].split('~|')).toDF(schema).show()

+----------------+---+
|            Name|Age|
+----------------+---+
|            Name|Age|
|   Shorya,sharma| 25|
|Vini, Baishander| 23|
|   Aditi, Sharma| 26|
|  Jatin, Shokeen| 24|
+----------------+---+

## Merge DataFrame in Spark

In [37]:
spark = SparkSession.builder.appName("merge").getOrCreate()
df = spark.createDataFrame([["shorya","25"],["vini","23"], ["jatin", "24"]], ["Name", "Age"])
df.show()

+------+---+
|  Name|Age|
+------+---+
|shorya| 25|
|  vini| 23|
| jatin| 24|
+------+---+

In [38]:
df1 = spark.createDataFrame([["Aakash","25", "M"],["Deepu","23","M"], ["Aditi", "24", "F"]], ["Name", "Age", "Gender"])
df1.show()

+------+---+------+
|  Name|Age|Gender|
+------+---+------+
|Aakash| 25|     M|
| Deepu| 23|     M|
| Aditi| 24|     F|
+------+---+------+

In [40]:
# first way
from pyspark.sql.functions import lit
df_add = df.withColumn("Gender", lit("null"))
df_add.union(df1).show()

+------+---+------+
|  Name|Age|Gender|
+------+---+------+
|shorya| 25|  null|
|  vini| 23|  null|
| jatin| 24|  null|
|Aakash| 25|     M|
| Deepu| 23|     M|
| Aditi| 24|     F|
+------+---+------+

In [47]:
# 2nd way
df_add = df.join(df1,on=["Name", "Age"], how="outer")
df_add.show()

+------+---+------+
|  Name|Age|Gender|
+------+---+------+
|Aakash| 25|     M|
| Deepu| 23|     M|
|  vini| 23|  null|
| jatin| 24|  null|
|shorya| 25|  null|
| Aditi| 24|     F|
+------+---+------+

In [48]:
# best way
def customUnion(df1, df2):
    cols1 = [x.lower() for x in df1.columns]
    cols2 = [x.lower() for x in df2.columns]
    total_cols = sorted(cols1 + list(set(cols2) - set(cols1)))

    def expr(mycols, allcols):
        def processCols(colname):
            if colname in mycols:
                return colname
            else:
                return lit(None).alias(colname)

        cols = map(processCols, allcols)
        return list(cols)

    appended = df1. \
        select(expr(cols1, total_cols)). \
        union(df2.select(expr(cols2, total_cols)))
    return appended
customUnion(df, df1).show()

+---+------+------+
|age|gender|  name|
+---+------+------+
| 25|  null|shorya|
| 23|  null|  vini|
| 24|  null| jatin|
| 25|     M|Aakash|
| 23|     M| Deepu|
| 24|     F| Aditi|
+---+------+------+

## Speculative execution
to handle the slow tasks in a stage due to environment issues like slow network, disk etc.
 
spark.speculation >> false >> enables ( true ) or disables ( false ) speculative execution of tasks.

spark.speculation.interval >> 100ms >> The time interval to use before checking for speculative tasks.

spark.speculation.multiplier >> 1.5 >> How many times slower a task is than the median to be for speculation.

spark.speculation.quantile >> 0.75 >> The percentage of tasks that has not finished yet at which to start speculation.

## DATA SKEWNESS

Techniques to handle in spark 2.0
1. repartition 
2. Salting
3. Reduce data skewness 
4. Bump up sparl.sql.autobroadcastJoinThreshold
5. iterative broadcast join

## PIVOT IN SPARK

In [68]:
spark = SparkSession.builder.appName("merge").getOrCreate()
df = spark.createDataFrame([["1001","English", 84],["1001","Science",85], ["1001", "Maths", 86],
                           ["1002","English", 83],["1002","Science",85], ["1002", "Maths", 87]], ["Roll", "Subject", "Marks"])

In [69]:
df.show()

+----+-------+-----+
|Roll|Subject|Marks|
+----+-------+-----+
|1001|English|   84|
|1001|Science|   85|
|1001|  Maths|   86|
|1002|English|   83|
|1002|Science|   85|
|1002|  Maths|   87|
+----+-------+-----+

In [70]:
tbl = df.groupBy("Roll").pivot("Subject").max("Marks")
tbl.show()

+----+-------+-----+-------+
|Roll|English|Maths|Science|
+----+-------+-----+-------+
|1002|     83|   87|     85|
|1001|     84|   86|     85|
+----+-------+-----+-------+